---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About Forever\'s Blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/blog-logo.webp" alt="Illustration of a notebook" width="330">
    </figure>
    <p>(｡･∀･)ﾉﾞ嗨！我是 For Forever，欢迎来到我的奇幻领地。我是一名生活在数字世界的 <strong>记录者</strong> 与 <strong>构建者</strong>。可以访问<a href="https://github.com/zxslemon-ui" target="_blank">我的Github</a>来了解。</p>
    <p>这个博客是我分享生活见闻、编程经验和创意想法的地方。无论是关于前端开发、后端架构，还是个人项目和生活点滴，我都会在这里记录下来，希望能与大家交流和学习。</p>
    <p>欢迎来到我的世界，一起见证无限可能!</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
