<div>
  <img src="/assets/forever-cover.webp" alt="Headshot of For Forever">
  <p>
    (｡･∀･)ﾉﾞ嗨！我是 <strong>For Forever</strong>。欢迎来到我的奇幻领地。我是一名生活在数字世界的“记录者”与“构建者”。
    你可以通过访问<a href="https://github.com/zxslemon-ui/blog-astro-charca" target="_blank">我的GitHub</a>来了解我的项目。
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
