<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/" style="text-decoration: none;">
  <!-- <img alt="Blog Logo" src="/assets/logo.webp" width="75" height="50" /> -->
   <p style="font-size: 1.2em; font-weight: bold; margin: 0;">Forever's Blog</p>
</a>
